<div class='flex flex-col w-full'>
  <h1 class='text-center w-full font-bold text-4xl underline mb-10'>
    Shopping List
  </h1>  
  <div class='flex flex-col w-full'>
    <div class='flex justify-around mb-3'>
      <div>Amount of food items to buy: <%= @items_to_buy %></div>
      <div>Recipe: <%=@recipe.id %></div>
    </div>
    <div class='flex justify-around'>
      <div>Total value of food needed: <%= @total_value_of_food %></div>
      <div>Inventory: <%=@inventory.id%></div>
    </div>
  </div>
</div>
 
<div class='mt-5'>
    <table class='table-auto w-full'>
        <thead>
            <tr>
            <th class='px-4 py-2'>Food</th>
            <th class='px-4 py-2'>Quantity</th>
            <th class='px-4 py-2'>Price</th>
            </tr>
        </thead>
        <tbody>
            <% @shopping_list.each do |item| %>
            <tr>
                <td class='border px-4 py-2'><%= item.food.name %></td>
                <td class='border px-4 py-2'><%= item.quantity %></td>
                <td class='border px-4 py-2'><%= item.food.price %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
    





    
